<%= form_for(@surgery) do |f| %>

 <label>Date Of Surgery (mm/dd/yyyy):</label><br>
  <%= f.datetime :date %><br>

  <label>Name of Surgery:</label><br>
  <%= f.text_field :name %><br>

   <br>
  <%= f.submit "Submit This Information"%>
<% end %>
</form>

 