<div class="ft-sz-25">
  <% @comments.each do |comment| %>
    <p>Enter Your Comments Here: <%= comment.description %></p><br>
    <p><%= comment.updated_at.strftime("Last updated %m/%d/%Y, at %l:%M %p") %></p><br>
    <p><%= link_to 'Go To This Comment' , comment_path(comment) %>
    
      <br>   
    
  <% end %>
</div>

 