<h1>Welcome To The Medical Information Notepad</h1>
<%= image_tag("notepad.png")%> 
 
<h2>If this is your first time on this site, please sign up here:</h2>

<%= link_to "Sign up", signup_path, class: "show-signup ft-sz-25" %> 

<h2>If you have previously signed up, you can directly log in here:</h2>

<%= link_to "Login", login_path, class: "show-login ft-sz-25" %> 

 
    