<%= form_for(@immunization) do |f| %>

 <label>Date: </label><br>
  <%= f.datetime :date %><br>
 
  <label>Name:</label><br>
  <%= f.text_field :name %><br>
  
   <br>
  <%= f.submit "Submit This Information"%>
<% end %>
</form>
  git