<% if object.errors.size > 0 %>
    <div class="errors">
            <h2><%= pluralize(object.errors.size, "error") %> prevented the object from being saved:</h2>
            <ul class="errors-list">
                <% object.errors.full_messages.each do |message|%>
                    <li class="error-message"><%= message%></li>
                <% end %>
            </ul>
        </div>
<% end %>
 